<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Carrier Pigeons</title>
    </head>
    <body>
        <h1>Remember when life was slower, savoured and spontaneous?</h1>
        <div class="details">Send your distant friends a message by carrier pigeon...
            Lorem ipsum sdjfhb skfg vskg vsdkjc vgsdkjcgv sdkjcg vs
            dfbvsdfbsdfbsfb adfsg dfg bsdg bsdfbsd bsdf bsdf bsdfb sdfb bsfgb
            sdfbsdfbsfndfn  sfdb dsfh bsdkuvg ak vbakjv kjzhsdfv kjdhsfbv
            d fvlaihgv kjhdsfv kjsadhv kjadshfbv kjadfbhv </div>
        <p><a th:href="@{/memberhome}">Members Login</a></p>
    </body>
</html>